{% extends 'base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Product List</small>
    </h1>
    {% if messages %}   
        {% for message in messages %}
            <div class="alert alert-success" role="alert">/
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    {% if object_list %}
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
            
            <div class="card-body">
            <a href="{%  %}" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <tbody>  
                {% for product in object_list %}
                
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% endif %}
    </div>
{% endblock %}